// primary and secondary color
$primary: #094b72;
$secondary: #4f4f4f;
$tertiary: #8b8c8c;

// poppins font
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

$font-primary: "Poppins", sans-serif;
$font-secondary: "Playfair Display";
// white and grey colors
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray400: #ced4da;
$gray-500: #adb5db;
$gray-600: #6c757d;
$gray-700: #595057;
$gray-800: #343a40;
$gray-900: #212629;
$black: #000;

// menu text color
$menu-text-color: #2d2f30;
