@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url(../assets/fonts/plus-jakarta-sans/PlusJakartaDisplay-Light.otf);
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url(../assets/fonts/plus-jakarta-sans/PlusJakartaDisplay-Light.otf);
}

.display-2 {
  margin-bottom: 1rem;
  margin-top: 12rem;
}

.display-2--intro {
  display: inline-block;
  font-weight: 700;
  line-height: 108px;
  font-size: 90px;
  font-family: "Playfair Display";
  color: #094b72 !important;
}

.display-2--description {
  display: inline-block;
  font-weight: 200;
  line-height: 37.92px;
  font-size: 24px;
  font-family: "Plus Jakarta Sans";
  margin: 40px 0;
  color: "Playfair Display";
}

.hero-btn {
  text-decoration: none;
  padding: 10px 30px;
  background-color: #094b72;
  color: #fff;
  border-radius: 8px;
  font-family: "Plus Jakarta Sans";
  font-weight: 400;
  font-size: 16px;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hero-btn:hover {
  border: 1px solid #094b72;
  color: #094b72;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.company-para {
  padding-top: 100px;
  color: #8b8c8c;
  font-weight: 200;
  font-size: 22px;
  line-height: 30.91px;
  font-family: #8b8c8c;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url(../assets/fonts/plus-jakarta-sans/PlusJakartaDisplay-Light.otf);
}

.menu {
  background-color: #e5e5e5;
}

.menu i {
  padding-left: 100px;
}

.menu li {
  padding: 0 0.7rem;
}

.menu li a {
  color: #2d2f30 !important;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  font-weight: 400;
  line-height: 23px;
}

@media (max-width: 700px) {
  .menu i {
    padding-left: 15px;
  }
}

.intro-section-area {
  background-color: #f9f8f9;
}

.intro-section {
  background-image: url("../../assets/images/creating-a-brand-2mMhaoBGjCs-unsplash-removebg-preview 1.png");
  background-position: right;
  background-repeat: no-repeat;
}

.company-logo {
  padding: 20px 0 40px 0;
}

.services {
  background-color: #f2fcff;
  padding: 80px 0;
}

.services *--left {
  -ms-flex-line-pack: center;
      align-content: center;
}

.services h2 {
  font-family: "Playfair Display";
  font-size: 48px;
  color: #2d2f30;
  line-height: 63.98px;
  font-weight: 700;
  padding-top: 80px;
  padding-bottom: 10px;
}

.services p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #8b8c8c;
  line-height: 36px;
  font-weight: 400;
}

.services .item-container {
  background-color: #fcfcfc;
  margin: 20px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.05);
}

.services .item-container h4 {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: #363940;
  padding: 10px 0;
}

.services .item-container p {
  font-family: "Plus Jakarta Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #8b8c8c;
}

.count {
  background-image: url(../../assets/images/BG.png);
  text-align: center;
  padding: 80px 0;
}

.count h2 {
  font-family: "Playfair Display";
  font-weight: 900;
  font-size: 48px;
  color: #fff;
  line-height: 64px;
}

.count .left {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.count .item-border {
  border-right: 1px solid rgba(255, 255, 255, 0.4);
}

.count p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  line-height: 32px;
}

.count h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 48px;
  color: #fff;
  line-height: 64px;
}

.testimonials {
  background-color: #f4fbff;
  text-align: center;
  padding: 80px 0;
}

.testimonials h2 {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #2d2f30;
}

.testimonials-top {
  background-color: #fff;
  padding: 20px 40px;
  -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.05);
  /*  &::before {
      content: "";
      position: absolute;
      height: 0px;
      width: 0px;
      top: 60px;
      left: -29px; 
      border-width: 15px;
      border-color: transparent red transparent transparent;
      border-style: solid;
    } */
}

.testimonials-top h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #151617;
}

.testimonials-top p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #4f4f4f;
}

.testimonials-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  padding: 30px 30px 80px 30px;
}

.testimonials-bottom img {
  display: inline-block;
  width: 60px;
  height: 60px;
}

.testimonials-bottom-title {
  padding-left: 20px;
}

.testimonials-bottom-title h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #151617;
}

.testimonials-bottom-title p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #4f4f4f;
}

.testimonials .btn-color {
  background-color: #000;
}

.testimonials .carousel-control-prev-icon {
  background-image: url("https://apufpel.com.br/assets/img/seta_prim.png");
}

.testimonials .carousel-control-next-icon {
  background-image: url("https://apufpel.com.br/assets/img/seta_ult.png");
}

.faq h2 {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #2d2f30;
  margin: 50px 0 30px 0;
}

.faq p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #4f4f4f;
}

.faq a {
  text-decoration: none;
  padding: 10px 30px;
  background-color: #094b72;
  color: #fff;
  border-radius: 8px;
  font-family: "FontAwesome";
  font-weight: 400;
  font-size: 16px;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 20px 0;
}

.faq a::before {
  content: "\f095";
  padding-right: 10px;
}

.faq a:hover {
  border: 1px solid #094b72;
  color: #094b72;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer {
  background-color: #0f6e8c;
}

.footer img {
  margin-top: 50px;
  color: #fff;
}

.footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
}

.footer-right h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #f4f5f7;
  padding-bottom: 30px;
}

.footer-right p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #eeeff4;
}

.copyright {
  background-color: #05546d;
  padding: 20px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 8vh;
}

@media (max-width: 769px) {
  .copyright {
    height: 100px;
  }
}

.copyright p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #d9dbe1;
}

.copyright i {
  margin-left: 10px;
  color: #fff;
  background-color: #317386;
  border-radius: 50px;
  padding: 6px;
}
/*# sourceMappingURL=styles.css.map */