.copyright {
  background-color: #05546d;
  padding: 20px 0;
  box-sizing: border-box;
  height: 8vh;
  @media (max-width: 769px) {
    height: 100px;
  }
  p {
    font-family: $font-primary;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #d9dbe1;
  }
  i {
    margin-left: 10px;
    color: $white;
    background-color: #317386;
    border-radius: 50px;
    padding: 6px;
  }
}
