.count {
  background-image: url(../../assets/images/BG.png);
  text-align: center;
  padding: 80px 0;

  h2 {
    font-family: $font-secondary;
    font-weight: 900;
    font-size: 48px;
    color: $white;
    line-height: 64px;
  }
  .left {
    justify-content: center;
  }

  .item-border {
    border-right: 1px solid rgba($color: #fff, $alpha: 0.4);
  }
  p {
    font-family: $font-primary;
    font-weight: 400;
    font-size: 18px;
    color: $white;
    line-height: 32px;
  }
  h4 {
    font-family: $font-primary;
    font-weight: 800;
    font-size: 48px;
    color: $white;
    line-height: 64px;
  }
}
