.intro-section-area {
  background-color: #f9f8f9;
  padding-top: 3rem;

  .intro-section {
    //background-image: url("../../assets/images/creating-a-brand-2mMhaoBGjCs-unsplash-removebg-preview\ 1.png");
    padding-top: 4rem;

    .intros-right {
      position: relative;
      img {
        position: absolute;
        right: 0;
        bottom: 0;
        display: inline-block;
        height: 100%;
      }
      @media (max-width: 769px) {
        img {
          position: relative;
        }
      }
    }
    .company-logo {
      padding: 20px 0 40px 0;
    }
  }
}
